@using NatureBasketBoutique
@using NatureBasketBoutique.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Category>

<div class="container mx-auto mt-10">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-gray-800">Category List</h2>
        <a asp-controller="Category" asp-action="Create" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow">
            <i class="bi bi-plus-circle"></i> Create New Category
        </a>
    </div>

    <div class="bg-white shadow-md rounded my-6 overflow-x-auto">
        <table class="min-w-full w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Category Name</th>
                    <th class="py-3 px-6 text-left">Display Order</th>
                    <th class="py-3 px-6 text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap font-medium">@obj.Name</td>
                        <td class="py-3 px-6 text-left">@obj.DisplayOrder</td>
                        <td class="py-3 px-6 text-center">
                            <div class="flex item-center justify-center">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <i class="bi bi-pencil-square text-lg"></i>
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="w-4 mr-2 transform hover:text-red-500 hover:scale-110">
                                    <i class="bi bi-trash3 text-lg"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>